---
- name: Tests the panos_op_routing_result_to_interfaces filter is working properly
  hosts: lab # <---- Replace this with your group
  connection: local
  gather_facts: true # <--- Requied for getting the current time

  vars:
    provider:
      ip_address: "{{ ansible_host }}"
      username: "{{ lookup('env', 'ANSIBLE_NET_USERNAME') }}"
      password: "{{ lookup('env', 'ANSIBLE_NET_PASSWORD') }}"
    serialno: "{{ lookup('env', 'PAN_TEST_SERIAL') }}"

  tasks:
    # Check if security policy match found a result
    - name: Get all connected devices
      paloaltonetworks.panos.panos_op:
        provider: "{{ provider }}"
        cmd: "show devices connected"
      register: lookup_policy__show_devices_output

    - name: Set JSON Object for stdout
      ansible.builtin.set_fact:
        lookup_policy__show_devices_output_dict: >
          {{ lookup_policy__show_devices_output | paloaltonetworks.panos_policy_automation.panos_op_stdout_to_dict }}

    - name: Print results
      ansible.builtin.debug:
        msg: "{{ lookup_policy__show_devices_output_dict }}"
