---
- hosts: lab # <---- Replace this with your group
  connection: local
  gather_facts: true # <--- Requied for getting the current time
  name: Tests the get_zone_from_interface filter is working correctly

  vars:
    provider:
      ip_address: "{{ ansible_host }}"
      username: "{{ lookup('env', 'PAN_USERNAME') }}"
      password: "{{ lookup('env', 'PAN_PASSWORD') }}"
    serialno: "{{ lookup('env', 'PAN_TEST_SERIAL') }}"

  tasks:
    # Get all the interfaces output
    - name: Get the zone
      paloaltonetworks.panos.panos_op:
        provider:
          ip_address: "{{ provider.ip_address }}"
          username: "{{ provider.username }}"
          password: "{{ provider.password }}"
          serial_number: "{{ serialno }}"
        cmd: "show interface all"
      register: interface_data

    # Example with show interface all output
    - name: Map interfaces to zones
      set_fact:
        zones: "{{ interface_data | paloaltonetworks.panos_policy_automation.panos_op_get_zone_from_interface(my_interfaces) }}"
      vars:
        my_interfaces:
          - ethernet1/1
          - ethernet1/2

    - name: Print results
      ansible.builtin.debug:
        msg: "{{ zones }}"