---
- name: Tests the get_zone_from_interface filter is working correctly
  hosts: lab # <---- Replace this with your group
  connection: local
  gather_facts: true # <--- Requied for getting the current time

  vars:
    provider:
      ip_address: "{{ ansible_host }}"
      username: "{{ lookup('env', 'ANSIBLE_NET_USERNAME') }}"
      password: "{{ lookup('env', 'ANSIBLE_NET_PASSWORD') }}"
    serialno: "{{ lookup('env', 'PAN_TEST_SERIAL') }}"

  tasks:
    # Check if security policy match found a result
    - name: Set Test XML
      ansible.builtin.set_fact:
        lookup_policy_test_xml: |
          <test>
            <security-policy-match>
              <source>10.10.11.1</source>
              <destination>8.8.8.8</destination>
              <application>{{ lookup_policy_application | default('ssl') }}</application>
              <protocol>6</protocol>
              <destination-port>443</destination-port>
            </security-policy-match>
          </test>

    - name: Test the current status of the security policy
      paloaltonetworks.panos.panos_op:
        provider:
          ip_address: "{{ provider.ip_address }}"
          username: "{{ provider.username }}"
          password: "{{ provider.password }}"
          serial_number: "{{ serialno }}"
        cmd: "{{ lookup_policy_test_xml }}"
        cmd_is_xml: true
      register: lookup_policy_security_policy_match_result

    - name: Set the policy match result
      ansible.builtin.set_fact:
        lookup_policy_security_matches_existing_policy: >
          {{ lookup_policy_security_policy_match_result |
             paloaltonetworks.panos_policy_automation.panos_op_policy_match_result_to_bool }}

    - name: Print results
      ansible.builtin.debug:
        msg: "{{ lookup_policy_security_matches_existing_policy }}"
