---
- hosts: lab # <---- Replace this with your group
  connection: local
  gather_facts: true # <--- Requied for getting the current time
  name: Tests the panos_op_routing_result_to_interfaces filter is working properly

  vars:
    provider:
      ip_address: "{{ ansible_host }}"
      username: "{{ lookup('env', 'PAN_USERNAME') }}"
      password: "{{ lookup('env', 'PAN_PASSWORD') }}"
    serialno: "{{ lookup('env', 'PAN_TEST_SERIAL') }}"

  tasks:
    # Check if security policy match found a result
    - name: Run a Fib lookup
      paloaltonetworks.panos.panos_op:
        provider:
          ip_address: "{{ provider.ip_address }}"
          username: "{{ provider.username }}"
          password: "{{ provider.password }}"
          serial_number: "{{ serialno }}"
        cmd: "<test><routing><fib-lookup><virtual-router>default</virtual-router><ip>8.8.8.8</ip></fib-lookup></routing></test>"
        cmd_is_xml: true
      register: policy_creation__test_routing_result

    - name: Get interfaces from results
      ansible.builtin.set_fact:
        policy_creation_interface_list: >
          {{ policy_creation__test_routing_result |
             paloaltonetworks.panos_policy_automation.panos_op_routing_result_to_interfaces }}

    - name: Print results
      ansible.builtin.debug:
        msg: "{{ policy_creation_interface_list }}"