---
# Tasks file which adds a single given application into the given application group.
# This file only runs when {{ application_group }} is set.

- name: Get existing APPLICATION GROUP Objects
  paloaltonetworks.panos.panos_application_group:
    provider: "{{ provider }}"
    device_group: "{{ policy_creation_device_group }}"
    name: "{{ application_group }}"
    state: gathered
  register: policy_creation_existing_group

- name: Add APPLICATION object to preset APPLICATION GROUP
  paloaltonetworks.panos.panos_application_group:
    provider: "{{ provider }}"
    device_group: "{{ policy_creation_device_group }}"
    name: "{{ application_group }}"
    value: "{{ [lookup_policy_application] + policy_creation_existing_group.gathered.value }}"
    state: present
  register: policy_creation_group_addition

- name: Display results
  ansible.builtin.debug:
    msg: |-
      App object: {{ lookup_policy_application }}
      Added to group: {{ application_group }}
      Device group: {{ policy_creation_device_group }}
      Status: {{ 'SUCCESS' if policy_creation_group_addition is succeeded else 'FAILED' }}
