---
# Gets the routing table from a given device and registers it. This can be included using include_tasks in a
# loop so that it handles devices that have either ARE or virtual routers configured.

- name: Set the routing table result list
  ansible.builtin.set_fact:
    lookup_policy__show_route: []
  when:
    - lookup_policy__show_route is not defined

- name: Get the ROUTING TABLE
  block:
    - name: Get the LEGACY ROUTING TABLE for each device
      paloaltonetworks.panos.panos_op:
        provider:
          ip_address: "{{ provider.ip_address }}"
          username: "{{ provider.username }}"
          password: "{{ provider.password }}"
          serial_number: "{{ item.serial }}"
        cmd: "show routing route"
      register: lookup_policy__show_route_result

    - name: Parse as JSON
      ansible.builtin.set_fact:
        lookup_policy__show_route_result_dict: "{{ lookup_policy__show_route_result.stdout | from_json }}"

    - name: Set list of virtual routers
      ansible.builtin.set_fact:
        lookup_policy__virtual_routers: "{{ lookup_policy__virtual_routers | d([]) + [route['virtual-router']] }}"
      loop: "{{ lookup_policy__show_route_result_dict.response.result.entry }}"
      loop_control:
        loop_var: route

    - name: Find the outbound interface(s)
      paloaltonetworks.panos.panos_op:
        provider:
          ip_address: "{{ provider.ip_address }}"
          username: "{{ provider.username }}"
          password: "{{ provider.password }}"
          serial_number: "{{ item.serial }}"
        cmd: "<test><routing><fib-lookup><virtual-router>{{ vr }}</virtual-router><ip>{{ _target_ip }}</ip></fib-lookup></routing></test>"
        cmd_is_xml: true
      register: lookup_policy__test_routing_result
      loop: "{{ lookup_policy__virtual_routers | unique }}"
      loop_control:
        loop_var: vr

  rescue:
    - name: Get the ADVANCED ROUTING TABLE for each device
      paloaltonetworks.panos.panos_op:
        provider:
          ip_address: "{{ provider.ip_address }}"
          username: "{{ provider.username }}"
          password: "{{ provider.password }}"
          serial_number: "{{ item.serial }}"
        cmd: "<show><advanced-routing><route/></advanced-routing></show>"
        cmd_is_xml: true
      register: lookup_policy__show_route_result

    - name: Set list of Logical Routers
      ansible.builtin.set_fact:
        lookup_policy__virtual_routers: >
            {{ lookup_policy__show_route_result |
                paloaltonetworks.panos_policy_automation.panos_op_get_routers_from_dict_or_list }}

    - name: --- WARNING! SKIPPED DUE TO MISSING API SUPPORT IN PANOS! --- Find the outbound interface(s) (ARE)
      paloaltonetworks.panos.panos_op:
        provider:
          ip_address: "{{ provider.ip_address }}"
          username: "{{ provider.username }}"
          password: "{{ provider.password }}"
          serial_number: "{{ item.serial }}"
        cmd: "<test><advanced-routing><fib-lookup><logical-router>{{ vr }}</logical-router><ip>{{ _target_ip }}</ip></fib-lookup></advanced-routing></test>"
        cmd_is_xml: true
      register: lookup_policy__test_routing_result
      loop: "{{ lookup_policy__virtual_routers | unique }}"
      loop_control:
        loop_var: vr
      when:
        - not true

    - name: Set skip for zone resolution, unsupported routing engine
      ansible.builtin.set_fact:
        lookup_policy_skip_zone_resolution: true

- name: Get interfaces from routing results
  when: not lookup_policy_skip_zone_resolution
  block:
    - name: Get interfaces from results
      ansible.builtin.set_fact:
        lookup_policy_interface_list: >
          {{ lookup_policy__test_routing_result.results |
             paloaltonetworks.panos_policy_automation.panos_op_routing_result_to_interfaces }}

    - name: Get the zone
      paloaltonetworks.panos.panos_op:
        provider:
          ip_address: "{{ provider.ip_address }}"
          username: "{{ provider.username }}"
          password: "{{ provider.password }}"
          serial_number: "{{ item.serial }}"
        cmd: "show interface all"
      register: lookup_policy__show_interfaces_result

    - name: Set the ZONE list
      ansible.builtin.set_fact:
        lookup_policy__destination_zones: >
          {{
            lookup_policy__destination_zones | default([]) + lookup_policy__show_interfaces_result
            | paloaltonetworks.panos_policy_automation.panos_op_get_zone_from_interface(lookup_policy_interface_list) | default([])
          }}"
