---
# Runs test security-policy-match based on the given parameters

- name: Set Test XML
  ansible.builtin.set_fact:
    lookup_policy_test_xml: |
      <test>
        <security-policy-match>
          <source>{{ policy_creation_source_ip }}</source>
          <destination>{{ policy_creation_destination_ip }}</destination>
          <application>{{ lookup_policy_application | default('ssl') }}</application>
          <protocol>6</protocol>
          <destination-port>{{ lookup_policy_destination_port }}</destination-port>
        </security-policy-match>
      </test>

- name: Print the test parameters
  ansible.builtin.debug:
    msg: "{{ lookup_policy_test_xml }}"

- name: Test the Current Security policy
  block:
    - name: Test the current status of the security policy using all parameters
      paloaltonetworks.panos.panos_op:
        provider:
          ip_address: "{{ provider.ip_address }}"
          username: "{{ provider.username }}"
          password: "{{ provider.password }}"
          serial_number: "{{ item.serial }}"
        cmd: "{{ lookup_policy_test_xml }}"
        cmd_is_xml: true
      register: lookup_policy_security_policy_match_result
  rescue:
    - name: Test the current status of the security policy using PLACEHOLDERS
      paloaltonetworks.panos.panos_op:
        provider:
          ip_address: "{{ provider.ip_address }}"
          username: "{{ provider.username }}"
          password: "{{ provider.password }}"
          serial_number: "{{ item.serial }}"
        cmd: "{{ lookup_policy_test_xml }}"
        cmd_is_xml: true
      register: lookup_policy_security_policy_match_result

- name: Print the result
  ansible.builtin.debug:
    msg: "{{ lookup_policy_security_policy_match_result }}"

- name: Set the policy match result
  ansible.builtin.set_fact:
    lookup_policy_security_matches_existing_policy: >
      {{ lookup_policy_security_policy_match_result |
         paloaltonetworks.panos_policy_automation.panos_op_policy_match_result_to_bool }}
