---
# Accepts requests for security policy and converts into PAN-OS security rules.
# These tasks will first compare the request against given preset security policies to see if we can simply add
# the relevant pieces to existing groups and then commit/push.

# --- START PRESET POLICY SECTION ---
# This section of tasks automatically updates existing, pre-built policies by simply updating existing address-groups
# For this to work, you must provide the following variables:
#   - policy_creation_policy_files
#     Should be a list containing files, which themselves contain tasks.

- name: Set Defaults
  ansible.builtin.set_fact:
    policy_creation_config_changed: false
    policy_creation_policy_match: false

# Include tasks from user-provided task files
- name: Test against Webserver outbound policy
  ansible.builtin.include_tasks:
    file: "{{ item }}"
  loop: "{{ policy_creation_policy_files }}"

# --- END PRESET POLICY SECTION ---

- name: Policy Creation Block
  when:
    - policy_creation_policy_match is defined
    - policy_creation_policy_match
  block:
    - name: ADDRESS GROUP PRESET - Deploy the Source IP to policy based on the preset configuration
      ansible.builtin.include_tasks:
        file: preset/add_address_to_preset_group.yml
      vars:
        _address: "{{ policy_creation_source_ip }}"
        _address_group: "{{ policy_creation_source_address_group }}"
      when:
        - policy_creation_source_address_group is defined

    - name: ADDRESS GROUP PRESET - Deploy the Destination IP to policy based on the preset configuration
      ansible.builtin.include_tasks:
        file: preset/add_address_to_preset_group.yml
      vars:
        _address: "{{ policy_creation_destination_ip }}"
        _address_group: "{{ policy_creation_destination_address_group }}"
      when:
        - policy_creation_destination_address_group is defined

    - name: APP GROUP PRESET - Deploy the application to policy based on the preset configuration
      ansible.builtin.include_tasks:
        file: preset/add_application_to_preset_group.yml
      when:
        - application_group is defined
        - policy_creation_application is defined

    - name: URL CATEGORY  PRESET - Deploy the URL to the given category based on the preset configuration
      ansible.builtin.include_tasks:
        file: preset/add_url_to_preset_category.yml
      when:
        - destination_url_category is defined

    - name: Update that the config has changed
      ansible.builtin.set_fact:
        policy_creation_config_changed: true

# --- Custom Section ---
# This section of tasks will attempt to create new security policies by caluclating as many values as possible
# Rules that are created here will always be grouped by TAG.
# For this to run it requires at least source ip, destination IP and an application to be given.

- name: RULE CREATION BLOCK - Triggers when no preset rules match
  when:
    - not policy_creation_policy_match
    - policy_creation_source_ip is defined and policy_creation_source_ip != ""
    - policy_creation_destination_ip is defined and policy_creation_destination_ip != ""
    - policy_creation_application is defined and policy_creation_application != ""
  block:
    - name: RULE policy lookup
      ansible.builtin.include_tasks:
        file: new/lookup_policy.yml

    - name: Create Rule Block
      block:
        - name: RULE creation
          ansible.builtin.include_tasks:
            file: new/create_policy.yml

        - name: Update that the config has changed
          ansible.builtin.set_fact:
            policy_creation_config_changed: true
      when:
        - not policy_creation_security_matches_existing_policy

- name: Commit Block - Triggers on any change
  when: policy_creation_config_changed
  block:
    - name: COMMIT all changes
      paloaltonetworks.panos.panos_commit_panorama:
        provider: "{{ provider }}"
        device_groups: [ "{{ device_group | default(default_new_policy_device_group) }}" ]
        description: "Commit Changes"
        admins:
          - "{{ provider.username }}"

    - name: PUSH to Device-group
      paloaltonetworks.panos.panos_commit_push:
        provider: "{{ provider }}"
        style: "device group"
        name: "{{ policy_creation_device_group | default(default_new_policy_device_group) }}"
        description: "Commit and push changes"
        admins:
          - "{{ provider.username }}"

- name: Test the changes, if there were changes
  when:
    - policy_creation_config_changed
    - policy_creation_source_ip is defined
    - policy_creation_destination_ip is defined
  block:
    - name: Test the new policy, if one was added
      ansible.builtin.include_tasks:
        file: new/lookup_policy.yml

    - name: Print the results
      ansible.builtin.debug:
        msg: "{{ policy_creation_security_matches_existing_policy }}"

