---
# Gets the routing table from a given device and registers it. This can be included using include_tasks in a
# loop so that it handles devices that have either ARE or virtual routers configured.

- name: Set the routing table result list
  ansible.builtin.set_fact:
    policy_creation__show_route: []
  when:
    - policy_creation__show_route is not defined

- name: Get the ROUTING TABLE
  block:
    - name: Get the LEGACY ROUTING TABLE for each device
      paloaltonetworks.panos.panos_op:
        provider:
          ip_address: "{{ provider.ip_address }}"
          username: "{{ provider.username }}"
          password: "{{ provider.password }}"
          serial_number: "{{ item.serial }}"
        cmd: "show routing route"
      register: policy_creation__show_route_result
  rescue:
    - name: Get the ROUTING TABLE for each device
      paloaltonetworks.panos.panos_op:
        provider:
          ip_address: "{{ provider.ip_address }}"
          username: "{{ provider.username }}"
          password: "{{ provider.password }}"
          serial_number: "{{ item.serial }}"
        cmd: "show advanced-routing route"
      register: policy_creation__show_route_result

- name: Parse as JSON
  ansible.builtin.set_fact:
    policy_creation__show_route_result_dict: "{{ policy_creation__show_route_result.stdout | from_json }}"

- name: Set list of virtual routers
  ansible.builtin.set_fact:
    policy_creation__virtual_routers: "{{ policy_creation__virtual_routers | d([]) + [route['virtual-router']] }}"
  loop: "{{ policy_creation__show_route_result_dict.response.result.entry }}"
  loop_control:
    loop_var: route

- name: Find the outbound interface(s)
  paloaltonetworks.panos.panos_op:
    provider:
      ip_address: "{{ provider.ip_address }}"
      username: "{{ provider.username }}"
      password: "{{ provider.password }}"
      serial_number: "{{ item.serial }}"
    cmd: "<test><routing><fib-lookup><virtual-router>{{ vr }}</virtual-router><ip>{{ _target_ip }}</ip></fib-lookup></routing></test>"
    cmd_is_xml: true
  register: policy_creation__test_routing_result
  loop: "{{ policy_creation__virtual_routers | unique }}"
  loop_control:
    loop_var: vr

- name: Get interfaces from results
  ansible.builtin.set_fact:
    policy_creation_interface_list: >
      {{ policy_creation__test_routing_result.results |
         paloaltonetworks.panos_policy_automation.panos_op_routing_result_to_interfaces }}

- name: Get the zone
  paloaltonetworks.panos.panos_op:
    provider:
      ip_address: "{{ provider.ip_address }}"
      username: "{{ provider.username }}"
      password: "{{ provider.password }}"
      serial_number: "{{ item.serial }}"
    cmd: "show interface all"
  register: policy_creation__show_interfaces_result

- name: Set the ZONE list
  ansible.builtin.set_fact:
    policy_creation_destination_zones: >
      {{
        policy_creation_destination_zones | default([]) + policy_creation__show_interfaces_result
        | paloaltonetworks.panos_policy_automation.panos_op_get_zone_from_interface(policy_creation_interface_list) | default([])
      }}"
