---
# Runs test security-policy-match based on the given parameters

- name: Set Test XML
  ansible.builtin.set_fact:
    policy_creation_test_xml: |
      <test>
        <security-policy-match>
          <source>{{ policy_creation_sourcce_ip }}</source>
          <destination>{{ policy_creation_destination_ip }}</destination>
          <application>{{ policy_creation_application | default('ssl') }}</application>
          <protocol>6</protocol>
          <destination-port>443</destination-port>
        </security-policy-match>
      </test>

- name: Print the test parameters
  ansible.builtin.debug:
    msg: "{{ policy_creation_test_xml }}"

- name: Test the Current Security policy
  block:
    - name: Test the current status of the security policy using all parameters
      paloaltonetworks.panos.panos_op:
        provider:
          ip_address: "{{ provider.ip_address }}"
          username: "{{ provider.username }}"
          password: "{{ provider.password }}"
          serial_number: "{{ item.serial }}"
        cmd: "{{ policy_creation_test_xml }}"
        cmd_is_xml: true
      register: policy_creation_security_policy_match_result
  rescue:
    - name: Test the current status of the security policy using PLACEHOLDERS
      paloaltonetworks.panos.panos_op:
        provider:
          ip_address: "{{ provider.ip_address }}"
          username: "{{ provider.username }}"
          password: "{{ provider.password }}"
          serial_number: "{{ item.serial }}"
        cmd: "{{ policy_creation_test_xml }}"
        cmd_is_xml: true
      register: policy_creation_security_policy_match_result

- name: Print the result
  ansible.builtin.debug:
    msg: "{{ policy_creation_security_policy_match_result }}"

- name: Set the policy match result
  ansible.builtin.set_fact:
    policy_creation_security_matches_existing_policy: >
      {{ policy_creation_security_policy_match_result |
         paloaltonetworks.panos_policy_automation.panos_op_policy_match_result_to_bool }}
