---
name: CI

defaults:
  run:
    shell: bash

on:
  pull_request:
    branches: [master]
jobs:
  ansible-syntax:
    strategy:
      matrix:
        include:
          - ansible_version: "2.16"
            python_version: "3.12"
          - ansible_version: "2.17"
            python_version: "3.12"
          - ansible_version: "2.18"
            python_version: "3.12"
    runs-on: ubuntu-latest
    name: Ansible Syntax Check

    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          path: "ansible_collections/paloaltonetworks/panos_policy_automation"

      - name: Set up Python
        uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c # v4
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install Ansible
        run: |
          python -m pip install --upgrade pip
          pip install https://github.com/ansible/ansible/archive/stable-${{ matrix.ansible_version }}.tar.gz --disable-pip-version-check
          pip install ansible-lint

      - name: Install PAN-OS collection
        run: |
          ansible-galaxy collection install paloaltonetworks.panos

      - name: Ansible lint
        run: |
          cd ansible_collections/paloaltonetworks/panos_policy_automation
          ls -l
          ansible-lint . --offline

      - name: Ansible Sanity Tests
        run: |
          cd ansible_collections/paloaltonetworks/panos_policy_automation
          ansible-test sanity --exclude mkdocs.yml

  secrets-scan:
    runs-on: ubuntu-latest
    name: Secrets Scanning

    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:

          fetch-depth: 0
