---
name: CI

defaults:
  run:
    shell: bash

on:
  pull_request:
    branches: [ master ]
jobs:
  ansible-syntax:
    runs-on: ubuntu-latest
    name: Ansible Syntax Check

    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          path: "ansible_collections/paloaltonetworks"

      - name: Set up Python
        uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c # v4
        with:
          python-version: "3.11"

      - name: Install Ansible
        run: |
          python -m pip install --upgrade pip
          pip install ansible ansible-lint

      - name: Install PAN-OS collection
        run: |
          ansible-galaxy collection install paloaltonetworks.panos

      - name: Ansible lint
        run: |
          cd ansible_collections/paloaltonetworks
          ansible-lint ../ansible_panos_policy_orchestration/ --offline

      - name: Ansible Sanity Tests
        run: |
          cd ansible_collections/paloaltonetworks
          ansible-test sanity

  secrets-scan:
    runs-on: ubuntu-latest
    name: Secrets Scanning

    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:

          fetch-depth: 0
